<div
  marginheight="0"
  marginwidth="0"
  style="width: 100% !important; margin: 0; padding: 0"
>
  <table
    cellpadding="0"
    cellspacing="0"
    border="0"
    valign="top"
    width="100%"
    align="center"
    style="width: 100%; max-width: 480px"
  >
    <tbody>
      <tr>
        <td
          valign="top"
          align="left"
          style="
            word-break: normal;
            border-collapse: collapse;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 12px;
            line-height: 18px;
            color: #555555;
          "
        >
          <center>
            <div id="main">
              <table
                class="hero-image-root"
                width="100%"
                cellpadding="0"
                cellspacing="0"
                style="
                  border: none;
                  margin: 0px;
                  border-collapse: collapse;
                  padding: 0px;
                  width: 100%;
                "
              >
                <tbody
                  valign="middle"
                  style="border: none; margin: 0px; padding: 0px"
                >
                  <tr
                    valign="middle"
                    style="border: none; margin: 0px; padding: 0px"
                  >
                    <td
                      valign="middle"
                      style="
                        border: none;
                        margin: 0px;
                        padding: 0px;
                        border-bottom: 1px solid #eee;
                        padding-bottom: 15px;
                      "
                    >
                      <img src="LogoURL" />
                    </td>
                  </tr>
                  <tr
                    class="hero-image-padding"
                    height="30"
                    valign="middle"
                    style="
                      border: none;
                      margin: 0px;
                      padding: 0px;
                      height: 30px;
                    "
                  >
                    <td
                      class="hero-image-padding"
                      height="30"
                      valign="middle"
                      style="
                        border: none;
                        margin: 0px;
                        padding: 0px;
                        height: 30px;
                      "
                    ></td>
                  </tr>
                </tbody>
              </table>
              <table
                cellspacing="0"
                cellpadding="0"
                border="0"
                width="600"
                id="templateColumns"
                style="
                  border: none;
                  margin: 0px;
                  border-collapse: collapse;
                  padding: 0px;
                "
              >
                <tbody
                  valign="middle"
                  style="border: none; margin: 0px; padding: 0px"
                >
                  <tr
                    valign="middle"
                    style="border: none; margin: 0px; padding: 0px"
                  >
                    <td
                      class="table-separator"
                      width="6.25%"
                      valign="middle"
                      style="
                        width: 6.25%;
                        border: none;
                        margin: 0px;
                        padding: 0px;
                      "
                    ></td>
                    <td
                      width="43.75%"
                      valign="middle"
                      style="border: none; margin: 0px; padding: 0px"
                    >
                      <table
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="100%"
                        style="
                          border: none;
                          margin: 0px;
                          border-collapse: collapse;
                          padding: 0px;
                        "
                      >
                        <tbody
                          valign="middle"
                          style="border: none; margin: 0px; padding: 0px"
                        >
                          <tr
                            valign="middle"
                            style="border: none; margin: 0px; padding: 0px"
                          >
                            <td
                              align="center"
                              class="leftColumnContent"
                              valign="middle"
                              style="border: none; margin: 0px; padding: 0px"
                            >
                              <br
                                style="border: none; margin: 0px; padding: 0px"
                              />
                              <center
                                style="border: none; margin: 0px; padding: 0px"
                              >
                                <font
                                  color="black"
                                  style="
                                    border: none;
                                    margin: 0px;
                                    padding: 0px;
                                  "
                                >
                                  <b
                                    align="left"
                                    style="
                                      border: none;
                                      margin: 0px;
                                      padding: 0px;
                                      font-family: Helvetica, Arial, sans-serif;
                                      text-align: left;
                                      text-decoration: none;
                                      font-weight: bold;
                                    "
                                  >
                                    <font
                                      size="4"
                                      style="
                                        border: none;
                                        margin: 0px;
                                        padding: 0px;
                                      "
                                    >
                                      Password Recovery
                                    </font>
                                  </b>
                                  <br
                                    style="
                                      border: none;
                                      margin: 0px;
                                      padding: 0px;
                                    "
                                  />
                                  <br
                                    style="
                                      border: none;
                                      margin: 0px;
                                      padding: 0px;
                                    "
                                  />
                                  <font
                                    size="2"
                                    style="
                                      border: none;
                                      margin: 0px;
                                      padding: 0px;
                                    "
                                  >
                                  We noticed you have been unable to verify your account due to some technical issues on our end. In a bid to give you the best experience we have  generated this mail to help you verify your account and complete your sign up process.
                                    This request expires by: EXPIRYDATE
                                  </font>
                                </font>
                              </center>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td
                      class="table-separator"
                      width="6.25%"
                      valign="middle"
                      style="
                        width: 6.25%;
                        border: none;
                        margin: 0px;
                        padding: 0px;
                      "
                    ></td>
                  </tr>
                </tbody>
              </table>

              <table
                class="text-root"
                width="100%"
                cellpadding="0"
                cellspacing="0"
                style="
                  border: none;
                  margin: 0px;
                  border-collapse: collapse;
                  padding: 0px;
                  width: 100%;
                "
              >
                <tbody
                  valign="middle"
                  style="border: none; margin: 0px; padding: 0px"
                >
                  <tr
                    valign="middle"
                    style="border: none; margin: 0px; padding: 0px"
                  >
                    <td
                      class="table-separator"
                      width="6.25%"
                      valign="middle"
                      style="
                        width: 6.25%;
                        border: none;
                        margin: 0px;
                        padding: 0px;
                      "
                    ></td>
                    <td
                      valign="middle"
                      style="border: none; margin: 0px; padding: 0px"
                    >
                      <table
                        cellspacing="0"
                        cellpadding="0"
                        border="0"
                        width="100%"
                        style="margin: 0px; padding: 0px"
                      >
                        <tbody>
                          <tr>
                            <td
                              class="font text-paragraph"
                              align="left"
                              style="
                                border: none;
                                margin: 0px;
                                padding: 0px 0px 5px;
                                font-family: Helvetica, Arial, sans-serif;
                                font-weight: 400;
                                text-align: left;
                                text-decoration: none;
                                letter-spacing: 0.15px;
                                color: rgb(24, 24, 24);
                                font-size: 14px;
                                line-height: 20px;
                              "
                            >
                              <center
                                style="border: none; margin: 0px; padding: 0px"
                              ></center>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td
                      class="table-separator"
                      width="6.25%"
                      valign="middle"
                      style="
                        width: 6.25%;
                        border: none;
                        margin: 0px;
                        padding: 0px;
                      "
                    ></td>
                  </tr>
                  <tr
                    valign="middle"
                    style="border: none; margin: 0px; padding: 0px"
                  >
                    <td
                      colspan="3"
                      class="text-padding"
                      height="20"
                      valign="middle"
                      style="
                        border: none;
                        margin: 0px;
                        padding: 0px;
                        height: 20px;
                      "
                    ></td>
                  </tr>
                </tbody>
              </table>

              <table
                class="call-to-action-root"
                width="100%"
                cellpadding="0"
                cellspacing="0"
                style="
                  border: none;
                  margin: 0px;
                  border-collapse: collapse;
                  padding: 0px;
                  width: 100%;
                "
              >
                <tbody
                  valign="middle"
                  style="border: none; margin: 0px; padding: 0px"
                >
                  <tr
                    valign="middle"
                    style="border: none; margin: 0px; padding: 0px"
                  >
                    <td
                      class="table-separator"
                      width="6.25%"
                      valign="middle"
                      style="
                        width: 6.25%;
                        border: none;
                        margin: 0px;
                        padding: 0px;
                      "
                    ></td>

                    <td align="center">
                      <table
                        height="44"
                        border="0"
                        align="center"
                        width="240"
                        cellpadding="2"
                        cellspacing="0"
                        class="x_main_color"
                        bgcolor="ce011f"
                        style="border-radius: 50px"
                      >
                        <tbody>
                          <tr>
                            <td
                              align="center"
                              style="
                                border: none;
                                margin: 0px;
                                padding: 0px;
                                font-family: Helvetica, Arial, sans-serif;
                                text-decoration: none;
                                letter-spacing: 0.15px;
                                border-radius: 22px;
                                color: rgb(255, 255, 255);
                                font-size: 13px;
                                font-weight: bold;
                                height: 100%;
                                line-height: 16px;
                                text-align: center;
                                text-transform: uppercase;
                                min-width: 240px;
                              "
                            >
                              <div style="line-height: 22px">
                                <a
                                  href="URL"
                                  target="_blank"
                                  style="color: #ffffff; text-decoration: none"
                                >
                                  Verify
                                </a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>

                    <td
                      class="table-separator"
                      width="6.25%"
                      valign="middle"
                      style="
                        width: 6.25%;
                        border: none;
                        margin: 0px;
                        padding: 0px;
                      "
                    ></td>
                  </tr>
                  <tr
                    class="call-to-action-padding"
                    height="35"
                    valign="middle"
                    style="
                      border: none;
                      margin: 0px;
                      padding: 0px;
                      height: 35px;
                    "
                  >
                    <td
                      colspan="3"
                      class="call-to-action-padding"
                      height="35"
                      valign="middle"
                      style="
                        border: none;
                        margin: 0px;
                        padding: 0px;
                        height: 35px;
                      "
                    ></td>
                  </tr>
                </tbody>
              </table>
              <table
                class="footer-padding-root"
                width="100%"
                cellpadding="0"
                cellspacing="0"
                style="
                  border: none;
                  margin: 0px;
                  border-collapse: collapse;
                  padding: 0px;
                  width: 100%;
                "
              >
                <tbody
                  valign="middle"
                  style="border: none; margin: 0px; padding: 0px"
                >
                  <tr
                    class="footer-padding"
                    height="22"
                    valign="middle"
                    style="
                      border: none;
                      margin: 0px;
                      padding: 0px;
                      height: 22px;
                    "
                  >
                    <td
                      colspan="3"
                      class="footer-padding"
                      height="22"
                      valign="middle"
                      style="
                        border: none;
                        margin: 0px;
                        padding: 0px;
                        height: 22px;
                      "
                    ></td>
                  </tr>
                </tbody>
              </table>
              <table
                class="footer-root"
                width="100%"
                cellpadding="0"
                cellspacing="0"
                bgcolor="#F7F7F7"
                style="
                  border: none;
                  margin: 0px;
                  border-collapse: collapse;
                  padding: 0px;
                  background-color: rgb(247, 247, 247);
                  width: 100%;
                "
              >
                <tbody
                  valign="middle"
                  style="border: none; margin: 0px; padding: 0px"
                >
                  <tr
                    class="footer-bottom-padding"
                    height="25"
                    valign="middle"
                    style="
                      border: none;
                      margin: 0px;
                      padding: 0px;
                      height: 25px;
                    "
                  >
                    <td
                      colspan="3"
                      class="footer-bottom-padding"
                      height="25"
                      valign="middle"
                      style="
                        border: none;
                        margin: 0px;
                        padding: 0px;
                        height: 25px;
                      "
                    ></td>
                  </tr>
                  <tr>
                    <td height="24" style="line-height: 0px; font-size: 0px">
                      &nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td align="center">
                      <table
                        align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="130"
                      >
                        <tbody>
                          <tr>
                            <td width="11">
                              <a href="Instagram" target="_blank">
                                <img
                                  alt="Instagram"
                                  border="0"
                                  height="21"
                                  src="http://img.nc.quickteller.com/images/quicktellersmart/quicktellersmart_189/a2a95925-348d-4c12-927e-0880a304c939.png"
                                  style="display: block; max-width: 20px"
                                  width="20"
                                  class="CToWUd"
                                />
                              </a>
                            </td>
                            <td width="28">&nbsp;</td>
                            <td width="25">
                              <a href="Twitter" target="_blank">
                                <img
                                  alt="Twitter"
                                  border="0"
                                  height="21"
                                  src="http://img.nc.quickteller.com/images/quicktellersmart/quicktellersmart_189/7dc9dad2-97a8-46e2-9047-c2d3cd474f35.png"
                                  style="display: block; max-width: 25px"
                                  width="25"
                                  class="CToWUd"
                                />
                              </a>
                            </td>
                            <td width="28">&nbsp;</td>
                            <td width="11">
                              <a href="Facebook" target="_blank">
                                <img
                                  alt="Facebook"
                                  border="0"
                                  height="21"
                                  src="http://img.nc.quickteller.com/images/quicktellersmart/quicktellersmart_189/7a518f89-07d0-489f-9a20-dba657b5bc74.png"
                                  style="display: block; max-width: 11px"
                                  width="11"
                                  class="CToWUd"
                                />
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td height="18" style="line-height: 0px; font-size: 0px">
                      &nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        color: #b2b2b2;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 10px;
                      "
                    >
                      1642 Oko-Awo close Victoria Island <br />
                      Lagos
                    </td>
                  </tr>
                  <tr>
                    <td align="center">
                      <table
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        class="em_wrapper"
                        width="0"
                      >
                        <tbody>
                          <tr>
                            <td
                              height="10"
                              style="line-height: 0px; font-size: 0px"
                            >
                              &nbsp;
                            </td>
                          </tr>
                          <tr>
                            <td
                              align="center"
                              style="
                                color: #b2b2b2;
                                font-family: Arial, Helvetica, sans-serif;
                                font-size: 10px;
                              "
                            >
                              All rights reserved | &copy; Year
                              <span class="il">Interswitch</span> Group <br />
                            </td>
                          </tr>
                          <tr>
                            <td
                              height="10"
                              style="line-height: 0px; font-size: 0px"
                            >
                              &nbsp;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr
                    height="20"
                    valign="middle"
                    style="
                      border: none;
                      margin: 0px;
                      padding: 0px;
                      height: 20px;
                    "
                  >
                    <td
                      colspan="3"
                      class="footer-bottom-padding"
                      height="25"
                      valign="middle"
                      style="
                        border: none;
                        margin: 0px;
                        padding: 0px;
                        height: 25px;
                      "
                    ></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </center>
          <br />
          <div></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
